<h3> This is the new Census Report using data from MatrixCare, including</h3>
<ul>
<li>The top row of buttons is used to move between pages.</li>
<li>The NOTIFICATIONS page has new features</li>

<ul>
    <li>Selecting <button style="background-color:blue;color:white;">Show Patients</button>  displays a list of current and prior residents  </li>	
    <li>You can quickly filter by the first letter of the last name</li>
    <li>You can also filter by Status: InHouse, Discharged etc</li>
    <li>Selecting a resident fills in the form with information from MatrixCare. </li>
</ul>	
<li>It is still possible to type directly into the form </li>	
<li>There are restrictions: such as a discharge will not allow you to enter the room/level of care.  It's copied from Matrixcare.</li>
</ul>
<h3> All the data is copied from MatrixCare.  If there are errors they need to be fixed in MatrixCare.</h3>
<ul>	
    <li>However, all data is copied from MatrixCare into the Census Report at 11:45pm, changes in MatrixCare will not appear until the next day</li>
</ul>