<h1>The majority of changes are minor cosmetic improvements.</h1>
<h1>The navigation between pages has been moved to the row of buttons at the top to ease moving between pages.</h1>
<h1>The NOTIFICATIONS page has been modified to add the following features/restrictions</h1>
<ul>
<li>A list of all residents is provided and you can pick from that list to fill in the form using  </li>	
<li>The list can be filtered by status and by first letter of last name</li>	
<li>When a resident is selected, current information in MatrixCare is used to populate the form and that information cannot be edited. </li>	
<li>It is still possible to enter the resident's name directly in the form for first time admissions; but use the resident selection feature for all other actions to minimize typo's </li>	
</ul>
<h2>Issues</h2>
The list of residents will occasionally and erroneously display on the screen for a second or two.  It is harmless, please ignore it for now.